.page-header {
	display: table;
	width: 100%;
}

.page-header h1 {
	display: table-cell;
	vertical-align: top;
}

.page-header a,
.page-header h1 {
	display: inline-block;
	font-family: "Trebuchet MS";
}

.page-header h1 small {
	font-style: italic;
}

h3 {
	font-size: 20px;
}

footer {
	padding-top: 20px;
	text-align: center;
}

.navbar-brand {
	display: none;
}

@media screen and (max-width: 767px) {
	.page-header {
		margin-top: 30px;
		display: table;
		width: 100%;
	}

	.page-header h1 {
		display: table-cell;
		vertical-align: top;
	}
	.page-header img {
		width: 100px;
		margin-top: -20px;
	}
	.page-header h1 {
		font-size: 26px;
	}
	.page-header h1 small {
		font-size: 16px;
	}
	.navbar-brand {
		display: block;
	}
}
@media (min-width: 768px) {
	.page-header h1 {
		font-size: 34px;
	}
	.page-header h1 small {
		font-size: 23px;
	}

	.talk {
		margin-bottom: 32px;
	}

	.thumbnail .caption {
		min-height: 280px;
	}
}

#contato img {
	margin: 0 auto;
}

.hide-js {
	display: none;
}
